
/**
 * Yandex Metrica
 */

.logo[data-logo="Yandex Metrica"] {
  width: 2.409756098em;
  /* (130/51.25) * (1-.05) - 0 */
}

.logo[data-logo="Yandex Metrica"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 .05em;
}

.logo[data-logo="Yandex Metrica"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Yandex Metrica"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
